
.vs/
certificatif/certificatif/__pycache__/


certificatif/certificatif/migrations/
venv/
frontend/cert_front/node_modules
frontend/cert_front/.pnp
frontend/cert_front/.pnp.js
frontend/cert_front/coverage
frontend/cert_front/build
frontend/cert_front/.DS_Store
frontend/cert_front/.env.local
frontend/cert_front/.env.development.local
frontend/cert_front/.env.test.local
frontend/cert_front/.env.production.local
frontend/cert_front/npm-debug.log*
frontend/cert_front/yarn-debug*
frontend/cert_front/yarn-error.log*
frontend/cert_front/yarn.lock

frontend/cert_desktop/node_modules
frontend/cert_desktop/.pnp
frontend/cert_desktop/.pnp.js
frontend/cert_desktop/coverage
frontend/cert_desktop/build
frontend/cert_desktop/.DS_Store
frontend/cert_desktop/.env.local
frontend/cert_desktop/.env.development.local
frontend/cert_desktop/.env.test.local
frontend/cert_desktop/.env.production.local
frontend/cert_desktop/npm-debug.log*
frontend/cert_desktop/yarn-debug*
frontend/cert_desktop/yarn-error.log*
frontend/cert_desktop/yarn.lock
frontend/cert_desktop/build
frontend/cert_desktop/build/*
frontend/cert_desktop/conf.ini
frontend/cert_deskop/pk_issuer.txt
